{% extends 'appartments/base.html' %}
{% block content %}
    <div class="mt-3" style='text-align: center'>
        <h1>Available Appartments<h1>
    </div>
    <hr>
{% for appartment in appartments %}

    <div class="card mb-3 mt-3">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ appartment.title }}</h5>
            <p class="card-text">{{ appartment.description }}</p>
            <p class="card-text"><small class="text-muted">{{ appartment.location }} | {{ appartment.price }} $ | {{ appartment.capacity }}</small></p>
        </div>
    </div>

    <div class="mt-3">
        <a class="btn btn-warning btn-lg mb-5 mr-2" href="{% url 'details' appartment.id %}">View Details...</a>
        <a class="btn btn-danger btn-lg mb-5" href="#">Purchase Now!</a>
    </div>
{% endfor %} 
{% endblock content %}